<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Add Google Sign-In permissions if needed -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Add Google Calendar -->
    <!--    <uses-permission android:name="android.permission.GET_ACCOUNTS" />-->

    <application
        android:name=".QDue"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.QDue">

        <!-- SwipeCalendarActivity - Debug Main Activity -->
        <activity
            android:name=".ui.features.swipecalendar.presentation.SwipeCalendarActivity"
            android:exported="true"
            android:label="@string/debug_swipe_calendar_title"
            android:theme="@style/Theme.QDue"
            android:screenOrientation="portrait">

            <!-- MAIN LAUNCHER INTENT-FILTER (moved from QDueMainActivity) -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Support for date navigation from external apps -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="qdue"
                    android:host="calendar"
                    android:pathPrefix="/debug" />
            </intent-filter>

        </activity>


        <!-- MainActivity -->
        <activity
            android:name=".QDueMainActivity"
            android:exported="true"
            android:theme="@style/Theme.QDue">

            <!-- REMOVE THIS INTENT-FILTER FOR DEBUG MODE: -->
            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>


        <!-- SmartShifts Activities -->
        <activity
            android:name="net.calvuz.qdue.smartshifts.ui.main.SmartshiftsActivity"
            android:exported="false"
            android:label="@string/smartshifts_title"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.SmartShifts" />

        <activity
            android:name="net.calvuz.qdue.smartshifts.ui.setup.ShiftSetupWizardActivity"
            android:exported="false"
            android:label="@string/setup_wizard_title"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.SmartShifts" />

        <!-- WelcomeActivity -->
        <activity
            android:name=".ui.features.welcome.presentation.WelcomeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <!--        android:theme="@style/Theme.QDue.Welcome"-->


        <!-- SettingsActivity -->
        <activity
            android:name=".ui.features.settings.QDueSettingsActivity"
            android:exported="false"
            android:label="@string/menu_title_settings"
            android:parentActivityName=".QDueMainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".QDueMainActivity" />
        </activity>

        <!-- User Profile Activity -->
        <activity
            android:name=".user.ui.UserProfileActivity"
            android:exported="false"
            android:label="@string/user_profile"
            android:parentActivityName=".QDueMainActivity"
            android:windowSoftInputMode="adjustResize">
            <!--            android:theme="@style/Theme.QDue"-->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".QDueMainActivity" />
        </activity>

        <!-- UserSchedulePatternCreationActivity -->
        <activity
            android:name=".ui.features.schedulepattern.UserSchedulePatternCreationActivity"
            android:exported="false"
            android:label="@string/pref_custom_patterns_title"
            android:parentActivityName=".QDueMainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".QDueMainActivity" />
        </activity>

        <activity
            android:name=".ui.features.events.presentation.EventsActivity"
            android:exported="true"
            android:label="@string/menu_title_events">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".QDueMainActivity" />

            <!-- Standard activity launch -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>

            <!-- Primary: Custom .qdue files with specific hosts -->
            <intent-filter android:priority="100">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="content" />
                <data android:host="com.android.externalstorage.documents" />
                <data android:pathPattern=".*\\.qdue" />
            </intent-filter>

            <intent-filter android:priority="96">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="content" />
                <data android:host="com.android.providers.downloads.documents" />
                <data android:pathPattern=".*\\.qdue" />
            </intent-filter>

            <intent-filter android:priority="92">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="content" />
                <data android:host="com.google.android.apps.docs.storage" />
                <data android:pathPattern=".*\\.qdue" />
            </intent-filter>

            <!-- Secondary: JSON files via MIME type (Storage Access Framework) -->
            <intent-filter android:priority="90">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:mimeType="application/json" />
            </intent-filter>

            <!-- Fallback: JSON files with common document providers -->
            <intent-filter android:priority="86">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="content" />
                <data android:host="com.android.externalstorage.documents" />
                <data android:pathPattern=".*\\.json" />
            </intent-filter>

            <intent-filter android:priority="82">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="content" />
                <data android:host="com.android.providers.downloads.documents" />
                <data android:pathPattern=".*\\.json" />
            </intent-filter>

            <!-- Google Drive support -->
            <intent-filter android:priority="70">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="content" />
                <data android:host="com.google.android.apps.docs.storage" />
                <data android:pathPattern=".*\\.json" />
            </intent-filter>

            <!-- File provider support (your app's FileProvider) -->
            <intent-filter android:priority="60">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:host="${applicationId}.fileprovider"
                    android:scheme="content" />
            </intent-filter>
        </activity>

        <!-- UserProfileActivity -->
        <activity
            android:name=".user.ui.UserProfileActivity"
            android:exported="false"
            android:label="@string/user_profile"
            android:parentActivityName=".QDueMainActivity"
            android:windowSoftInputMode="adjustResize">
            <!--            android:theme="@style/Theme.QDue"-->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".QDueMainActivity" />
        </activity>
        <activity android:name="net.calvuz.qdue.smartshifts.ui.settings.SmartShiftsSettingsActivity" />

        <!-- Fonts -->
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <meta-data
            android:name="com.google.android.gms.fonts"
            android:resource="@array/com_google_android_gms_fonts_certs" />

        <!-- Time changes -->
        <receiver
            android:name=".ui.core.common.utils.TimeChangeReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.intent.action.DATE_CHANGED" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />

                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

    </application>

</manifest>